<!DOCTYPE html>
<html>
    <head>
        <title> 윤동주 - 서시 </title> 
    </head>
    <body>
        <header>
            <h1>서시 - 윤동주</h1>
            <hr size="10" align="left" width=100% noshade="noshade"></hr>
        </header>
        <section>
            <header>
                <center>
                    <h2><서시></h2>
                    <h3><ins>윤동주</ins></h3>
                </center>
                <hr align="center" width=50%></hr>
            </header>
            <article>
                <p>죽는 날까지 하늘을 우르러</p>
                <p>한점 부끄럼이 없기를,</p>
                <p>잎새에 이는 바람에도</p>
                <p>나는 괴로워했다.</p>
                <p>별을 노래하는 마음으로</p>
                <p>모든 죽어가는것을 사랑해야지</p>
                <p>그리고 나한테 주어진 길을</p>
                <p>걸어가야겠다.</p>
                <p>오늘 밤에도 별이 바람에 스치운다.</p>
            </article>
        </section>
        <aside>
            <h2>윤동주 시인의 다른 시</h2>
            <ul>
                <li>자화상</li>
                <li>눈오는 지도</li>
                <li>새로운 길</li>
                <li>길</li>
                <li>별헤는 밤</li>
                <li>쉽게 씌어진 시</li>
                <li>참회록</li>
                <li>못 자는 밤</li>
                <li>비오는 밤</li>
                <li>소낙비</li>
            </ul>
        </aside>
        <hr/>
        <footer>
            <small>
                &nbsp;&nbsp; &copy; 모바일웹서비스프로그래밍 &nbsp;&nbsp;
                &nbsp;&nbsp; &reg; 2026
            </small>
        </footer>
    </body>
</html>